body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: monospace;
    color: white;
}
#world {
    position: absolute;
    border: 2px solid blue;
    display: inline-block;
    width: 1000px;
    height: 1000px;
    background: url(assets/textures/background.png);
    image-rendering: pixelated;
    z-index: -1;

    transform: inherit;

    transform-origin: 50%;
}