body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: monospace;
    color: white;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#crosshair {
    width: 2px;
    height: 2px;
    background-color: white;
}